#ranking header {
    display: flex;
    align-items: center;
    min-height: 130px;
    color: #ffffff;
}

#ranking header h1 {
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 2.5em;
    width: 100%;
}

#ranking header p {
    text-align: right;
    font-size: 1.3em;
    font-style: italic;
    color: yellow;
}

#ranking header h1 .fas {
    color: #ffbf00;
    margin-right: 20px;
}


#ranking header h1 small {
    display: block;
    font-size: 0.4em;
    font-weight: normal;
    color: rgb(35, 174, 233);
}

.header-top {
    font-size: 30px;
    border-bottom: 2px solid #2b87e9;
    margin: 20px 0;
}

.header-top {
    color: #006e9c;
    font-weight: 700;
}

.header-top .fas {
    color: #23aee9;
}
