#subject header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "title like";
    align-items: center;
    justify-content: center;
    min-height: 130px;
}

#subject header h1 {
    grid-area: title;
    color: #fff;
    font-size: 2em;
}

#subject header h1 small {
    display: block;
    font-size: 0.4em;
    font-weight: normal;
    color: rgb(35, 174, 233);
}

#main-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo menu";
    grid-column-gap: 1em;
    align-items: center;
    background-color: #002f55;
    color: #fff;
    font-weight: bold;
    height: 60px;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

#comments {
    margin: 50px 0;
}

#comments header {
    font-size: 30px;
    border-bottom: 2px solid #2b87e9;
    margin-bottom: 10px;
}

#comments header {
    color: #006e9c;
    font-weight: 700;
}

#comments header .fas {
    color: #23aee9;
}

#show-comments [class*="replies-"] {
    border-left: 1px dashed #aaa;
    display: block;
    margin: 0 0 1em 1.7em;
    padding-left: 2.5em;
}
