* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    background-color: #d1d1d1;
    color: #333;
}

.container {
    flex: auto;
    margin: 20px auto 0;
    max-width: 960px;
}

.search-container {
    flex: auto;
    background-color: #00507c;
    padding: 80px 0;
}

.search-container h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    display: block;
}

#searchSubject {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-top: 30px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 43px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 43px;
    height: 43px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #00507c;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#searchSubject:hover,
#searchSubject.hover {
    width: 500px;
    cursor: pointer;
}

#searchSubject:hover input,
#searchSubject.hover input{
    display: block;
}

#searchSubject:hover .fa,
#searchSubject.hover .fa {
    background: #00507c;
    color: white;
}

header#main-header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo menu";
    grid-column-gap: 1em;
    align-items: center;
    background-color: #002f55;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

header#main-header .brand {
    grid-area: logo;
    justify-self: start;
}

header#main-header .brand img{
    height: 40px;
}
